{% extends "base.html" %}
{% load static %}
{% block page_title %}
Dentist Registration From
{% endblock %}
{% block content %}
<div class="infobox">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <img class="box-icon" src="{% static 'doctors/images/icon/personalinformation.png' %}">
        <p class="box-text">
            Personal Information
        </p>

        <div class="ppbox">
            <input type="file" class="ppicture">
        </div>
        {% for field in user_form %}
            {{ field }}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        <input class="box-input" type="text" placeholder="Phone Number" name="" value="">
        <input class="box-input" type="number" placeholder="NID No." name="" value="">
        <div class="label-input">
            <label>NID Card Photo</label>
            <input class="box-input-file" type="file" placeholder="Upload BMDC Registration Copy" name="" value="">
        </div>
        <input class="box-input" type="number" placeholder="BMDC Registration No." name="" value="">
        <div class="label-input">
            <label>BMDC Reg. Photo</label>
            <input class="box-input-file" type="file" placeholder="Upload BMDC Registration Copy" name="" value="">
        </div>
        <div class="agreement">
            <label for="agree">
                <input type="checkbox" value="1" name="agree" id="agree" required>
                <span>I accept the <a href="#" target="_blank">terms of use</a> and <a href="#" target="_blank">privacy policy</a></span>
            </label>
        </div>
        <button class="box-button" type="submit">Save</button>
    </form>
</div>
{% endblock %}