<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dentistaa - Coming Soon</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'coming/img/favicon.png' %}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'coming/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'coming/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'coming/vendor/animate/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'coming/css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'coming/css/main.css' %}">
    <!--===============================================================================================-->
</head>
<body>


<div class="bg-img1 size1 flex-w flex-c-m p-t-55 p-b-55 p-l-15 p-r-15"
     style="background-image: url({% static 'coming/images/bg01.jpg' %})">
    <div class="wsize1 bor1 bg1 p-t-175 p-b-45 p-l-15 p-r-15 respon1">
        <div class="wrappic1">
            <img style="width:500px;" src="{% static 'coming/img/logo.png' %}" alt="LOGO">
        </div>

        <p class="txt-center m1-txt1 p-t-33 p-b-68">
            Our website is under construction
        </p>

        <div class="wsize2 flex-w flex-c hsize1 cd100">
            <div class="flex-col-c-m size2 how-countdown">
                <span class="l1-txt1 p-b-9 days">20</span>
                <span class="s1-txt1">Days</span>
            </div>

            <div class="flex-col-c-m size2 how-countdown">
                <span class="l1-txt1 p-b-9 hours">10</span>
                <span class="s1-txt1">Hours</span>
            </div>

            <div class="flex-col-c-m size2 how-countdown">
                <span class="l1-txt1 p-b-9 minutes">50</span>
                <span class="s1-txt1">Minutes</span>
            </div>

            <div class="flex-col-c-m size2 how-countdown">
                <span class="l1-txt1 p-b-9 seconds">39</span>
                <span class="s1-txt1">Seconds</span>
            </div>
        </div>

        <form class="flex-w flex-c-m contact100-form validate-form">
            <a href="https://www.facebook.com/dentistaapp" class="flex-c-m s1-txt3 size3 how-btn trans-04 where1">
                <i class="fa fa-facebook"></i> <strong class="ml-2">Connect in Facebook</strong>
            </a>
        </form>

    </div>
</div>


<!--===============================================================================================-->
<script src="{% static 'coming/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'coming/vendor/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'coming/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'coming/vendor/countdowntime/moment.min.js' %}"></script>
<script src="{% static 'coming/vendor/countdowntime/moment-timezone.min.js' %}"></script>
<script src="{% static 'coming/vendor/countdowntime/moment-timezone-with-data.min.js' %}"></script>
<script src="{% static 'coming/vendor/countdowntime/countdowntime.js' %}"></script>
<script>
		$('.cd100').countdown100({
			endtimeYear: 0,
			endtimeMonth: 0,
			endtimeDate: 10,
			endtimeHours: 18,
			endtimeMinutes: 0,
			endtimeSeconds: 0,
			timeZone: ""
		});
</script>

</body>
</html>