<!doctype html>
<html class="no-js" lang="zxx">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="author" content="Dentistaa">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>DENTISTāA</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="{% static 'landing/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'landing/images/favicon.png' %}" />
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/animate.css' %}">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="{% static 'landing/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'landing/style.css' %}">
    <link rel="stylesheet" href="{% static 'landing/css/responsive.css' %}">
    <script src="{% static 'landing/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    <div class="preloader">
        <span><i class="lnr lnr-sun"></i></span>
    </div>
    <!-- MainMenu-Area -->
    <nav class="mainmenu-area" data-spy="affix" data-offset-top="200">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary_menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{% static 'landing/images/main.png' %}" alt="Logo"></a>
            </div>
            <div class="collapse navbar-collapse" id="primary_menu">
                <ul class="nav navbar-nav mainmenu">
                    <li class="active"><a href="#home_page">Home</a></li>
                    <li><a href="#about_page">About</a></li>
                    <li><a href="#features_page">Features</a></li>
                    <li><a href="#questions_page">FAQ</a></li>
                    <li><a href="#contact_page">Contact</a></li>
                </ul>
                <div class="right-button hidden-xs">
                    <a href="{% url 'register' %}">Registration</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- MainMenu-Area-End -->
    <!-- Home-Area -->
    <header class="home-area overlay" id="home_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 hidden-sm col-md-5">
                    <figure class="mobile-image wow fadeInUp" data-wow-delay="0.2s">
                        <img src="{% static 'landing/images/header-mobile.png' %}" alt="">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-7">
                    <div class="space-80 hidden-xs"></div>
                    <h1 class="wow fadeInUp" data-wow-delay="0.4s">Complete Dental Solution in 1 App</h1>
                    <div class="space-20"></div>
                    <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                        <p>Afraid of the dentist? You’ve come to the right place. Find the nearest dentist that’s best for you. Our Skilled dentist provides world class service to our entire patient.</p>
                    </div>
                    <div class="space-20"></div>
                    <a href="#" class="bttn-white wow fadeInUp" data-wow-delay="0.8s"><i class="lnr lnr-download"></i>Join With Us</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Home-Area-End -->
    <!-- About-Area -->
    <section class="section-padding" id="about_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="page-title text-center">
                        <img src="{% static 'landing/images/icon.png' %}" alt="About Logo">
                        <div class="space-20"></div>
                        <h5 class="title">About DENTISTāA</h5>
                        <div class="space-30"></div>
                        <h3 class="blue-color">Dentistaa is a complete digital platform that helps you to find out the nearest BMDC Registered dentist that’s best for you. You can take an appointment from your home with extra discount and many other facilities.</h3>
                        <div class="space-20"></div>
                        <p>Find – Our apps, designed to help us understand what matters most to you, and allow us to match you with the oral wellness provider that’s best for you.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About-Area-End -->
    <!-- Progress-Area -->
    <section class="progress-area gray-bg" id="progress_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="page-title section-padding">
                        <h5 class="title wow fadeInUp" data-wow-delay="0.2s">For Finding Dentist</h5>
                        <div class="space-10"></div>
                        <h3 class="dark-color wow fadeInUp" data-wow-delay="0.4s">Grat Application Ever</h3>
                        <div class="space-20"></div>
                        <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                            <p>Find – Our apps, designed to help us understand what matters most to you, and allow us to match you with the oral wellness provider that’s best for you.</p>
                        </div>
                        <div class="space-50"></div>
<!--                        <a href="#" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">Learn More</a>-->
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <figure class="mobile-image">
                        <img src="{% static 'landing/images/progress-phone.png' %}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <!-- Progress-Area-End -->
    <!-- Video-Area -->
    <section class="video-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="video-photo">
                        <img src="{% static 'landing/images/video-image.jpg' %}" alt="">
                        <a href="https://www.youtube.com/watch?v=ScrDhTsX0EQ" class="popup video-button">
                            <img src="images/play-button.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5 col-md-offset-1">
                    <div class="space-60 hidden visible-xs"></div>
                    <div class="page-title">
                        <h5 class="title wow fadeInUp" data-wow-delay="0.2s">Upcoming Features</h5>
                        <div class="space-10"></div>
                        <h3 class="dark-color wow fadeInUp" data-wow-delay="0.4s">Dentistaa Mart</h3>
                        <div class="space-20"></div>
                        <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                            <p>Dentistaa mart is specialized for you to get On-demand E-commerce experience in Dental Treading.  A dentist can purchase dental materials, instruments & any other dentistry related product from our verified dental traders</p>
                            <ul>
                                <li>Within 1 hour super-fast Delivery from Nearest Shop</li>
                                <li>Verified Dental Traders & 3 days return policy</li>
                                <li>To ensure 100% quality product, below rated trader/product will be filtered</li>
                            </ul>
                        </div>
                        <div class="space-50"></div>
                        <a href="#" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Video-Area-End -->
    <!-- Feature-Area -->
    <section class="feature-area section-padding-top" id="features_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="page-title text-center">
                        <h5 class="title">Features</h5>
                        <div class="space-10"></div>
                        <h3>Helpful Features As Always</h3>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-icon">
                            <i class="lnr lnr-rocket"></i>
                        </div>
                        <h4>BMDC Recognized Dentist </h4>
                        <p>We provide only BMDC Recognized oral Experts. Registration Number will be visible for patient.</p>
                    </div>
                    <div class="space-60"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box-icon">
                            <i class="lnr lnr-paperclip"></i>
                        </div>
                        <h4>Medicine schedule Notification</h4>
                        <p>You will be notified when to have your medications</p>
                    </div>
                    <div class="space-60"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.6s">
                        <div class="box-icon">
                            <i class="lnr lnr-cloud-download"></i>
                        </div>
                        <h4>Real Time Chat</h4>
                        <p>In case of any emergency, you can chat with your dentist after the confirmation of your appointment till the end of your treatment.</p>
                    </div>
                    <div class="space-60"></div>
                </div>
                <div class="hidden-xs hidden-sm col-md-4">
                    <figure class="mobile-image">
                        <img src="{% static 'landing/images/feature-image.png' %}" alt="Feature Photo">
                    </figure>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-icon">
                            <i class="lnr lnr-clock"></i>
                        </div>
                        <h4>Store Health Record</h4>
                        <p>Your health record will be saved on your account. You can find and print it when needed</p>
                    </div>
                    <div class="space-60"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.6s">
                        <div class="box-icon">
                            <i class="lnr lnr-cog"></i>
                        </div>
                        <h4>Appointment Reminder</h4>
                        <p>You can customize your appointment time reminder. We will remind you.</p>
                    </div>
                    <div class="space-60"></div>
                     <div class="service-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="box-icon">
                            <i class="lnr lnr-laptop-phone"></i>
                        </div>
                        <h4>Find Nearest Oral Expert</h4>
                        <p>We spent thousands of hours vetting dentists all over Bangladesh so you can easily book the one that’s perfect for you. Just turn on your device GPS and take an appointment.</p>
                    </div>
                    <div class="space-60"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Feature-Area-End -->
    <!-- How-To-Use -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="page-title">
                        <h5 class="title wow fadeInUp" data-wow-delay="0.2s">Our features</h5>
                        <div class="space-10"></div>
                        <h3 class="dark-color wow fadeInUp" data-wow-delay="0.4s">
                            Hello, dentists!
                            Join Bangladesh's largest network of patients
                        </h3>
                    </div>
                    <div class="space-20"></div>
                    <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                        <p>Looking to grow your practice? Join the platform with everything you need to grow your practice and  take your clinical experience to the next level. Dentistaa can help! Our real-time online scheduling platform helps you close the loop on all of your marketing efforts by connecting you with  potential patients wherever they’re finding you</p>
                    </div>
                    <div class="space-50"></div>
                    <a href="#" class="bttn-default wow fadeInUp" data-wow-delay="0.8s">Join Now</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                    <div class="space-60 hidden visible-xs"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-icon">
                            <i class="lnr lnr-clock"></i>
                        </div>
                        <h4>Easy Notifications</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div class="space-50"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-icon">
                            <i class="lnr lnr-laptop-phone"></i>
                        </div>
                        <h4>Fully Responsive</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>
                    <div class="space-50"></div>
                    <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="box-icon">
                            <i class="lnr lnr-cog"></i>
                        </div>
                        <h4>Editable Layout</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How-To-Use-End -->
    <!-- Download-Area -->
    <div class="download-area overlay">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 hidden-sm">
                    <figure class="mobile-image">
                        <img src="{% static 'landing/images/download-image.png' %}" alt="">
                    </figure>
                </div>
                <div class="col-xs-12 col-md-6 section-padding">
                    <h3 class="white-color">Level up your oral wellness</h3>
                    <div class="space-20"></div>
                    <p>Get ready for a dental experience unlike any you’ve ever had before.</p>
                    <div class="space-60"></div>
                    <a href="#" class="bttn-white sq"><img src="{% static 'landing/images/apple-icon.png' %}" alt="apple icon"> Apple Store</a>
                    <a href="#" class="bttn-white sq"><img src="{% static 'landing/images/play-store-icon.png' %}" alt="Play Store Icon"> Play Store</a>
                </div>
            </div>
        </div>
    </div>

    <!--Questions-Area -->
    <section id="questions_page" class="questions-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title text-center">
                        <h5 class="title">FAQ</h5>
                        <h3 class="dark-color">Frequently Asked Questions</h3>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="toggole-boxs">
                        <h3>Who is a BMDC recognized dentist?</h3>
                        <div>
                            <p>A BMDC recognized dentist, is a dental surgeon who is graduated with BDS (Bachelor of Dental Surgery) degree from any govt. recognized dental college/medical college dental unit and got the license from the BMDC for clinical practice.</p>
                        </div>
                        <h3>What is BMDC?</h3>
                        <div>
                            <p>The Bangladesh Medical & Dental Council (BMDC) is a statutory body with the responsibility of establishing and maintaining high standards of medical education and recognition of medical qualifications in Bangladesh. It registers doctors to practice in Bangladesh, in order to protect and promote the health and safety of the public by ensuring proper standards in the practice of medicine.</p>
                        </div>
                        <h3>Why you choose us?</h3>
                        <div>
                            <p>In our platform</p>
                            <ul>
                                <li>You will find Verified Dentist in Bangladesh around you.</li>
                                <li>Time convenient. Pick your comfortable time</li>
                                <li>Real Time Chatting farcicalities with your dentist</li>
                                <li>You can choose your own dentist by previewing Dentist profile</li>
                            </ul>
                        </div>
                        <h3>How does it work?</h3>
                        <div>
                            <ol>
                                <li>Download the app from play store</li>
                                <li>Create an account if you don’t have</li>
                                <li>Find – Just turn on your device GPS and Search around the map</li>
                                <li>Appointment – Pick your dentist and Click on appointment</li>
                                <li>Visit – Visit the Chamber/hospital/Clinic according to the given location & time</li>
                            </ol>
                        </div>

                        <h3>What do I need to bring to my first appointment?</h3>
                        <div>
                            <p>Please bring the following items with you to your appointment:</p>
                            <ol>
                                <li>Patient Information Form (if applicable)</li>
                                <li>Patient Health History Form (if any)</li>
                                <li>Dental Insurance Card (if applicable)</li>
                                <li>Patient Health History Form (if any)</li>
                                <li>Prescription from other physicians. (if any)</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="space-20 hidden visible-xs"></div>
                    <div class="toggole-boxs">
                        <h3>How long it takes to confirm my appointment?</h3>
                        <div>
                            <p>Maximum 30 minutes. We will notify you by after confirmation.</p>
                        </div>
                        <h3>Can I change my appointment time/date?</h3>
                        <div>
                            <p>You can change once, before 1 hour of scheduled time.</p>
                        </div>
                        <h3>Do I need to arrive early for my first appointment?</h3>
                        <div>
                            <p>Yes. Please arrive 10-15 minutes early to fill out any remaining patient forms</p>
                        </div>
                        <h3>What should I do if I require premedication?</h3>
                        <div>
                            <p>Please be sure to request a prescription prior to your appointment, or if you are unsure, contact us and we can help.</p>
                        </div>

                        <h3>Why should I bring Prescription from other physicians?</h3>
                        <div>
                            <p>It helps your dentist to understand the underlying conditions & causes of your illness. And to avoid any adverse drug interaction.</p>
                        </div>
                        <h3>How long will my first appointment last?</h3>
                        <div>
                            <p>It varies, but please plans on 1 to 1.5 hours for the first visit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-Area -->
    <footer class="footer-area" id="contact_page">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-title text-center">
                            <h5 class="title">Contact US</h5>
                            <h3 class="dark-color">Find Us By Bellow Details</h3>
                            <div class="space-60"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="footer-box">
                            <div class="box-icon">
                                <span class="lnr lnr-map-marker"></span>
                            </div>
                            <p>8-54 Paya Lebar Square <br /> 60 Paya Lebar Roa SG, Singapore</p>
                        </div>
                        <div class="space-30 hidden visible-xs"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="footer-box">
                            <div class="box-icon">
                                <span class="lnr lnr-phone-handset"></span>
                            </div>
                            <p>+65 93901336 <br /> +65 93901337</p>
                        </div>
                        <div class="space-30 hidden visible-xs"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <div class="footer-box">
                            <div class="box-icon">
                                <span class="lnr lnr-envelope"></span>
                            </div>
                            <p>info@dentistaa.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-Bootom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-5">
                        <span>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <strong>DENTISTāA</strong></span>
                        <div class="space-30 hidden visible-xs"></div>
                    </div>
                    <div class="col-xs-12 col-md-7">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-Bootom-End -->
    </footer>
    <!-- Footer-Area-End -->
    <!--Vendor-JS-->
    <script src="{% static 'landing/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'landing/js/vendor/jquery-ui.js' %}"></script>
    <script src="{% static 'landing/js/vendor/bootstrap.min.js' %}"></script>
    <!--Plugin-JS-->
    <script src="{% static 'landing/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'landing/js/contact-form.js' %}"></script>
    <script src="{% static 'landing/js/ajaxchimp.js' %}"></script>
    <script src="{% static 'landing/js/scrollUp.min.js' %}"></script>
    <script src="{% static 'landing/js/magnific-popup.min.js' %}"></script>
    <script src="{% static 'landing/js/wow.min.js' %}"></script>
    <!--Main-active-JS-->
    <script src="{% static 'landing/js/main.js' %}"></script>
</body>

</html>
